{% extends 'base.html' %}
{% load static %}

<head>
	<title> Afdraft :: Everything happening in the African Tech Ecosystem in one place. </title>
</head>

<body>

	{% block subhead %}
	<h1>Links to other categories of feeds, investments, startups etc </h1>
	{% endblock %}

	{% block feeds %}
	<h1> Displays scraped feeds </h1>
	{% endblock %}

	{% block footer %}
	{% endblock %}

</body>
</html>